﻿@using DAL.Model
@model User
<head>

</head>
<body>
    @using (Html.BeginForm("CreateNew", "User", FormMethod.Post))
    {
        @Html.ValidationSummary()

        <table class="table">
            <tr>
                <td class="btn-dark">
                    @Html.LabelFor(model => model.Name)
                </td>
                <td class="btn-outline-secondary">@Html.EditorFor(model => model.Name)</td>
            </tr>
            <tr>
                <td class="btn-dark">@Html.LabelFor(model => model.Surname)</td>
                <td class="btn-outline-secondary">@Html.EditorFor(model => model.Surname)</td>
            </tr>
            <tr>
                <td class="btn-dark">@Html.LabelFor(model => model.DateOfBirth)</td>
                <td class="btn-outline-secondary">@Html.EditorFor(model => model.DateOfBirth)</td>
            </tr>
            <tr>
                <td class="btn-dark">@Html.LabelFor(model => model.HomeAdress)</td>
                <td class="btn-outline-secondary">@Html.EditorFor(model => model.HomeAdress)</td>
            </tr>
            <tr>
                <td class="btn-dark">@Html.LabelFor(model => model.EmailAdress)</td>
                <td class="btn-outline-secondary">@Html.EditorFor(model => model.EmailAdress)</td>
            </tr>
            <tr>
                <td class="btn-dark">@Html.LabelFor(model => model.PhoneNumber)</td>
                <td class="btn-outline-secondary"> @Html.EditorFor(model => model.PhoneNumber)</td>
            </tr>
        </table>

        <p><input type="submit" class="btn btn-dark" value="submit" /></p>
    }
</body>

