﻿@using DAL.Model
@model int

<div class="text-center">

    <div class="btn-secondary">
        it is a permanent action. Are you sure?
    </div>

    <br />

    @using (Html.BeginForm("DeleteUser", "User", FormMethod.Post))
    {
        @Html.Hidden("Id", Model)
        <input type="submit" class="btn btn-secondary btn-lg" value="Delete" />
    }

</div>

   