﻿@using DAL.Model
@model User

<div class="container-fluid">


    @using (Html.BeginForm("EditUserData", "User", FormMethod.Post))
    {

    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <div class="col">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="col">
            @Html.LabelFor(model => model.Surname)
        </div>
    </div>

    <div class="row">
        <div class="col">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="col">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="col">
            @Html.LabelFor(model => model.EmailAdress)
        </div>
    </div>

    <div class="row">
        <div class="col">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        <div class="col">
            @Html.EditorFor(model => model.EmailAdress)
            @Html.ValidationMessageFor(model => model.EmailAdress)
        </div>
    </div>

    <br />

    <input type="submit" class="btn btn-dark" value="submit" />
    }

    <br />

    @Html.ActionLink("delete", "DeletePage", "User", new { Id = Model.Id }, new { type = "button", @class = "btn btn-secondary" })

</div>


