﻿@using DAL.Model
@using WebProject.HTMLExtensions
@model List<User>

<head>
    <style>
        td {
            text-align : center
        }

        th {
            text-align: center
        }

    </style>
</head>

<div class="float-md-right">
    @Html.ActionLink("Add new", "AddNewClientPage", "User", new Object(), new { type = "button", @class = "btn btn-secondary" })
</div>

<div class="align-content-center">

    <br /> <br />

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>First name</th>
                <th>last Name</th>
                <th>Email</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.EmailAdress</td>

                <td>
                    @Html.ActionLink("edit", "EditData", "User", new { Id = user.Id }, new { type = "button", @class = "btn btn-secondary btn-block" })
                </td>

                <td>
                    @Html.ActionLink("Accounts", "GetAllUserAccs", "PersonalAccounts", new { Id = user.Id }, new { type = "button", @class = "btn btn-secondary btn-block" })
                </td>
            </tr>
        }

    </table>

</div>

