﻿@using DAL.Model
    @model User

    @Html.HiddenFor(model => model.Id)
    <hr />
    @Html.LabelFor(model => model.Name)
    @Html.DisplayFor(model => model.Name)
    <hr />
    @Html.LabelFor(model => model.Surname)
    @Html.DisplayFor(model => model.Surname)
    <hr />
    @Html.LabelFor(model => model.PhoneNumber)
    @Html.DisplayFor(model => model.PhoneNumber)
    <hr />
    @Html.CheckBoxFor(model => model.IsVerified)
    <hr />
    @Model.RegistrationTime.ToShortDateString()
    <hr />
    