﻿@model WebProject.Model.LoginModel

<h3>The Bank</h3>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <table class="table">
        <tr>
            <td class="btn-dark"> Login </td>
            <td class="btn-outline-secondary"> @Html.EditorFor(model => model.Login)</td>
        </tr>

        <tr>
            <td class="btn-dark"> Password </td>
            <td class="btn-outline-secondary">@Html.PasswordFor(model => model.Password)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="enter" class="btn btn-dark" />
            </td>
        </tr>
    </table>
}
