﻿@using DAL.Model 
@using WebProject.Models.dto 
@model TransactionDto

<body>
    @using (Html.BeginForm("Add", "Transactions", FormMethod.Post))
    {
        @Html.ValidationSummary()
        //Antiforgerytoken
        <table class="table">
            <tr>
                @Html.HiddenFor(model => model.SenderId)

                <td class="btn-dark">@Html.LabelFor(model => model.Amount)</td>
                <td class="btn-outline-secondary">@Html.EditorFor(model => model.Amount)</td>
                <tr/>
            <tr>
                <td class="btn-dark">Account</td>
                <td class="btn-outline-secondary">@Html.EditorFor(model => model.ReciverId)</td>

            </tr>
        </table>

        <br />

        <p><input type="submit" class="btn btn-dark" value="submit" /></p>
    }
</body>