﻿@using DAL.Model
@model List<IncomingTransaction>


<div class="align-content-center">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">from</th>
                <th scope="col">amount</th>
                <th scope="col">date</th>
                <th scope="col">Sent from account id</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var tr in Model)
            {
                <tr>
                    <td scope="row">@tr.Source</td>
                    <td> <div id="am">@tr.Amount $</div></td>

                    <td>
                        @tr.Date.Month
                        /
                        @tr.Date.Day
                        /
                        @tr.Date.Year
                    </td>

                    <td>@tr.SenderBankAccountId</td>
                </tr>
            }
        </tbody>

    </table>

</div>

