﻿@using WebProject.Models.dto
@model PersonalAccountDto
<head>

</head>
<body>
    @using (Html.BeginForm("AddNewAccount", "PersonalAccounts", FormMethod.Post))
    {
        <table>
            <tr>                
                    @Html.HiddenFor(model => model.UserId)
            </tr>            
        </table>

        <p><input type="submit" class="btn btn-primary" value="submit" /></p>
    }
</body>



