﻿@using DAL.Model
@model List<DAL.Model.UserPersonalAccount>

<div class="text-center">

    <table class="table">
        <tbody class="btn-dark">
            <tr>
                <th>account ID</th>
                <th>state</th>
                <th>operation</th>
                <th>incoming transactions</th>
                <th>outcoming transactions</th>
            </tr>
        </tbody>

        @foreach (var acc in Model)
        {
            <tr>
                <td>@acc.Id</td>
                <td>@acc.Amount $</td>

                <td>
                    @Html.ActionLink(
                       "Transfer",
                       "AddTransaction",
                       "Transactions",
                          new WebProject.Models.dto.TransactionDto() { SenderId = acc.Id },
                          new { type = "button", @class = " btn btn-secondary" })
                </td>

                <td>
                    @Html.ActionLink("Open history", "GetAccountIncomingTransactionsHistory", "Transactions",
                         new { id = acc.Id },
                         new { type = "button", @class = "btn btn-secondary" })
                </td>
                <td>
                    @Html.ActionLink("Open history", "GetAccountOutcomingTransactionsHistory", "Transactions",
                         new { id = acc.Id },
                         new { type = "button", @class = "btn btn-secondary" })
                </td>

            </tr>
        }
    </table>

    @Html.ActionLink("open new account", "AddNewAccountPage", "PersonalAccounts", new WebProject.Models.dto.PersonalAccountDto() { UserId = Model.First().UserId }, new { type = "button", @class = "btn btn-dark" })

</div>
